<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Flippin Cards Template</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  
  <input v-model="inputName" placeholder="Question Here"/>
  <input v-model="inputName" placeholder="Answer Here"/>
  
  <br>
  
  <input type="radio" id="one" value="history" v-model="categoryI">
<label for="one">History</label>
  
  <input type="radio" id="two" value="math" v-model="categoryI">
<label for="two">Math</label>
  
  <input type="radio" id="three" value="science" v-model="categoryI">
<label for="three">Science</label>
  
  <br>
  
    <button v-on:click="addCard">Add A Card</button>
  

<div id="flashcards-app">
  
  <div class="card" v-for="card in cards" v-on:click="card.flipped=!card.flipped">
    <div class="top" v-bind:class="card.category"></div>
    <div class="side1 " v-bind:class={hide:card.flipped}>
      <h1>{{card.question}}</h1>
    </div>
    <div class="side2 " v-bind:class={hide:!card.flipped} >
      <h1>{{card.answer}}</h1>
    </div>
  </div>  
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
